.satu{
	background: url(img/BACK.jpg);
	background-size: cover;
	width: 60%;
	height: 550px;
	float: left;
	border-radius: 2px;
}
.conten{
	background-color: none;
	margin-left: 25%;
	margin-top: 20%;
	color: #ffffff;
}
.isi{
	background-color: none;
	margin-top: -2%;
	margin-left: -5%;
	font-size: 12px;
}
.account{
	margin-top: 10%;
}
.cara1{
	background-color: white;
	height: 70px;
	width: 200px;
	margin-left: 15%;
	float: left;
	border-radius: 30px;
}
.cara2{
	background-color: white;
	height: 70px;
	width: 200px;
	margin-left: 15%;
	float: left;
	border-radius: 30px;
}
img{
	height: 70px;
	width: 200px;
	border-radius: 30px;
}
.tambahan{
	background-color: black;
	height: 3px;
	width: 500px;
	margin-left: 16%;
	margin-top: 20%;
	border-radius: 3px;
}
.dua{
	background-color: #F7F7F7;
	width: 40%;
	height: 550px;
	float: right;
	font-family: sans-serif;
	border-radius: 3px;
}
.login{
	position: absolute;
	margin-top: 20%;
	margin-left: 20%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 50px 25px;
	box-sizing: border-box;
	background: rgba(0,0,0,.1);
}
.user{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-70px/2);
	left: calc(50% - 35px);
}
h3{
	padding: 0 0 5px;
	text-align: center;
}
.login p{
	font-weight: bold;
}
.login input{
	width: 100%;
	margin-bottom: 15px;
}
.login button{
	width: 100%;
	margin-bottom: 15px;
}
.login input[type="text"],
.login input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder{
	color: rgba(255,255,255,.1);
}

.login button
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #6c98c6;
	border-radius: 20px;
}
.login button:hover{
	background: #98b7d7;
	color: #2d3440;
}
.login a{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.help:hover{
	color: blue;
}
footer{
	background-color:pink;
			clear: left;
			width: 100%;
			height: 30px;
			text-align: center;
			font-style: oblique;
			margin-top: 3%;
}