ul{
    position: absolute;
    top: 4%;
    right: -16%;
    transform: translate(-50%,-50%);
    display: flex;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
ul li a{
    position: relative;
    display: block;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #262626;
    transition: .5s;
}
ul li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 2px;
    background: #262626;
    transform: scaleX(0);
    z-index: -1;
    transform-origin: right;
    transition: transform .5s;
}
ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left
}
ul li a:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 100%;
    height: 2px;
    background: #262626;
    transform: scaleX(0);
    z-index: -1;
    transform-origin: left;
    transition: transform .5s;
}
ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: right
}
.batas{
    background-color: black;
    width: 100%;
    height: 4px;
    margin-top: 4.1%;
    border-radius: 2px;
}
.bagian{
    margin-top: 25px;
    width: 175px;
    height: 100px;
}
.bagian1{
    width: 158px;
    height: 126px;
}
.isic{
    background-color: white;
    margin-top: 5px;
    width: 175px;
    height: 115px;
    border-radius: 4px
}
.isitam{
    font-size: 7px;
    margin-left: 4%;
    margin-right: 4%;
}
.pembatas{
    background-color: black;
    overflow: hidden;
    position: absolute;
    height: 30px;
    width: 20px;
    top: calc(115px/.9);
    left: calc(175px - 153px);
    border-radius: 3px;
}
.variasi{
    background-color: white;
    overflow: hidden;
    position: absolute;
    height: 25px;
    width: 7px;
    top:-.2px;
    left: calc(20px - 11px);
    border-radius: 2px;
}
.isico{
    background-color: #e1e0e0;
    margin-left: 44px;
    margin-top: 2%;
    height: 15px;
    width: 135px;
    font-size: 10px;
    border-radius: 2px;
}
.conten{
    background: rgba(0,0,0,.3);
    overflow: hidden;
    position: absolute;
    width: 175px;
    height: 220px;
    margin-top: 3%;
    right: calc(90% - 6%);
    border-radius: 4px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);

}
.conten1{
    background: rgba(0,0,0,.3);
    overflow: hidden;
    position: absolute;
    width: 175px;
    height: 220px;
    margin-top: 3%;
    right: calc(90% - 26%);
    border-radius: 4px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}
.conten2{
    background: rgba(0,0,0,.3);
    overflow: hidden;
    position: absolute;
    width: 175px;
    height: 220px;
    margin-top: 3%;
    right: calc(90% - 46%);
    border-radius: 4px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}
.conten3{
    background: rgba(0,0,0,.3);
    overflow: hidden;
    position: absolute;
    width: 175px;
    height: 220px;
    margin-top: 3%;
    right: calc(90% - 66%);
    border-radius: 4px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}
footer{
    background-color:pink;
            clear: left;
            width: 100%;
            height: 30px;
            margin-top: 41.8%;
            text-align: center;
            font-style: oblique;
}